/* This event has passed - BOX*/
.event-passed {
	border: 2px solid #ccc;
    background-color: WhiteSmoke;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    width: 800px;
    margin: 10px auto;
    text-align: center;
}

/* Cultural Night Date, Time, Venue */
.date-time-venue {
	margin: 25px;
  	text-align: justify;
}

/* Cultural Night Image Slide Show */
.CNmySlides {display: none;}

img {
    vertical-align: middle;
    height: 460px;
    width: 100%;
    object-fit: cover;
}

/* Slideshow container */
.CNslideshow-container {
  width: 1215px;
  position: relative;
  margin: auto;
  z-index: 500;
}

/* Fading animation */
.CNfade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Cultural Night Overview */
.CN-overview {
	margin: 20px;
  	padding: 10px;
  	text-align: justify;
  	line-height:1.5;
}


/* Maldives Tour Overview */
.CN-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
}

.CN-overview-text {
    flex: 1;
    max-width: 50%;
    margin: 20px; 
  	padding: 10px; 
  	text-align: justify; 
}

.CN-overview-text h3 {
    font-size: 2rem;
}

.CN-overview-text p {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
}

.CN-overview-image {
    flex: 1;
    max-width: 50%;
}

.CN-overview-image img {
    width: 100%;
    height: 450px;
    border-radius: 20px;
}






/* Event Details */
.cn-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
}

.cn-details-image {
    flex: 1;
    max-width: 50%;
}

.cn-details-image img {
    width: 100%;
    margin:10px;
    height: 450px;
    border-radius: 20px;
}

.cn-details-text {
    flex: 1;
    max-width: 50%;
    margin: 20px; 
  	padding: 10px; 
  	text-align: justify;
}

.cn-details-text h3 {
	font-size: 2rem;
    margin-bottom:5px;
}

.cn-details-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align:justify;
}

.cn-details-date-time-venue {
    text-align: justify;
    line-height: 1.5;
    margin: 20px 0;
}

.highlights-list {
    line-height: 1.5;
    padding-left: 20px;
}




/* Testimonals */
.testimonials {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    margin:20px;
}

.testimonial {
    background-color: #E6F7F7;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.testimonial-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    margin-left:5px;
}

.testimonial-content {
    flex: 1;
}

.testimonial-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  	padding: 10px;
  	text-align: justify;
  	line-height:1.5;
}

.testimonial-name {
    font-weight: bold;
    color: #333;
    text-align: right;
    margin-top: 10px;
    margin: 20px;
  	padding: 10px; 
  	line-height:1.5;
}


/* Dont Missed Out */
.dont-missed-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.dont-missed-out-text {
    flex: 1;
    min-width: 300px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.dont-missed-out-text h2 {
	font-size:2rem;
	text-align:left;
}

.dont-missed-out-text p {
	margin:30px;
	text-align:justify;
}

.dont-missed-out-video {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.dont-missed-out-video iframe {
    width: 100%;
    height: 370px;
    border-radius: 10px;
}