/* Maldives Tour Date, Time, Venue */
.date-time-venue {
	margin: 25px;
  	text-align: justify;
}





/* Maldives Tour Image Slide Show */
.MTmySlides {display: none;}

img {
    vertical-align: middle;
    height: 460px;
    width: 100%;
    object-fit: cover; /* Keep proportions and fill */
}

/* Slideshow container */
.MTslideshow-container {
  width: 1215px;
  position: relative;
  margin: auto;
  z-index: 500;
}

/* Fading animation */
.MTfade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}






/* Maldives Tour Overview */
.MT-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
}

.MT-overview-text {
    flex: 1;
    max-width: 50%;
    margin: 20px; 
  	padding: 10px; 
  	text-align: justify; 
}

.MT-overview-text h3 {
    font-size: 2.5rem;
}

.MT-overview-text p {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
}

.MT-overview-image {
    flex: 1;
    max-width: 50%;
}

.MT-overview-image img {
    width: 100%;
    height: 450px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}




/* Programme at a Glance */
.programme-glance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
}

.programme-glance-text {
    flex: 1;
    max-width: 50%;
    margin: 20px; 
  	padding: 10px; 
  	text-align: justify; 
}

.programme-glance-text h3 {
    font-size: 2.5rem;
}

.programme-glance-text p {
    font-size: 1.3rem;
    line-height: 1.6;
    text-align:left;
}

.programme-glance-image {
    flex: 1;
    max-width: 50%;
}

.programme-glance-image img {
    width: 80%;
    margin:10px;
    height: 450px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}





/* Tour Highlights */
.tour-highlights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    overflow-x: hidden;
}

.tour-highlights-text {
    flex: 1;
    max-width: 50%;
    margin: 20px; 
  	padding: 60px; 
  	text-align: justify; 
}

.tour-highlights h3 {
    font-size: 2.5rem;
}

.highlights-list {
    font-size: 1.2rem;
    line-height: 1.6;
}

.tour-highlights-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tour-highlights-image img {
	width: 90%;
    height: 500px;
    border-bottom-left-radius: 50%;
}


/* Maldives Tour - TABLE */
table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse; /* Border Merge */
	line-height:1.5;
	z-index: 2;
}

th, td {
	border: 1px solid WhiteSmoke;
	padding: 10px;
	text-align: justify;
}

.table-footer {
    margin-left:90px;
    font-size: 16px;
}

.table-footer p {
	margin: 20px;
  	padding: 10px;
  	text-align: justify;
  	line-height:1.5;
}

.section {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 50px auto;
    padding: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

/* Set initial width of hover-box to 40% & position it at the bottom of screen */
.hover-box {
    position: absolute;
    bottom: 0;
    left: 50%; /* Make the initial position of the box located at the bottom of the screen */
    transform: translateX(-50%) translateY(100%); /* Make sure it is centered and hidden from the bottom of the screen */
    width: 40%; /* Initial width is 40% */
    height: 100%;
    border-radius:30px;
    background-color: rgba(111, 90, 84, 0.8);
    transition: transform 0.7s ease-in-out, width 1s ease-in-out;
    z-index: 0;
}

/* When .section enters the viewport, the hover-box width expands from 40% to 90% */
.section.active .hover-box {
    transform: translateX(-50%) translateY(0); /* Box gradually moves from the bottom of the screen */
    width: 90%; /* Zoom to 90% width */
}

/* Ensure that the content inside the box remains visible */
.section-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: WhiteSmoke;
}




/* Testimonals */
.testimonials {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    margin:20px;
}

.testimonial {
    background-color: #E6F7F7;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.testimonial-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    margin-left:5px;
}

.testimonial-content {
    flex: 1;
}

.testimonial-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  	padding: 10px;
  	text-align: justify;
  	line-height:1.5;
}

.testimonial-name {
    font-weight: bold;
    color: #333;
    text-align: right;
    margin-top: 10px;
    margin: 20px;
  	padding: 10px; 
  	line-height:1.5;
}

@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    width: 90%;
  }
}

/* Don't Miss Out */
.dont-miss-out {
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    position: relative
}

.dont-miss-out-image {
	width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.dont-miss-out-image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.dont-miss-out-text {
  	position: absolute;
    bottom: 100px;
    left: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: WhiteSmoke;
    padding: 20px 25px;
    gap: 20px;
    width: 600px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.dont-miss-out h2 {
  	font-size: 2.5rem;
  	margin-bottom: 10px;
}

.dont-miss-out p {
  	font-size: 1.2rem;
  	line-height: 1.6;
  	text-align:justify;
  	margin:30px;
}





/* Maldives Tour Register Form */
.form-container-image {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.form-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.form-container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background: WhiteSmoke;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
}

input, select {
    width: 97%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align all content to the left */
    gap: 1px; /* Increase the spacing between options */
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust button and text spacing */
}

.submit-btn {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
    background-color: #6f5a54;
    color: WhiteSmoke;
    padding: 10px;
    border: 1px solid #d4c0c3;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #d4c0c3;
    color: #6f5a54;
}