
body {
	text-align:justify;
}

.photo {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    transition: background-image 1s ease-in-out;
    animation: slideInL 1.5s ease-out forwards;
}

@keyframes slideInL {
            from {
                transform: translateX(-100%); 
                opacity: 0;
            }
            to {
                transform: translateX(0); 
            }
        }

#background {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out; 
}
.card-container-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;   
    margin-top: 20px;
    flex-wrap: wrap;
    margin-left:120px;
    animation: slideInR 1.5s ease-out forwards;

    
}

@keyframes slideInR {
            from {
                transform: translateX(100%); 
               }
            to {
                transform: translateX(0); 
                opacity: 1;
            }
        }


.card-container {
    width: 30%;
    margin:10px;  
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.card1 .card-front {
    background-image: url('https://japan.recipetineats.com/wp-content/uploads/2019/07/Take-away-sushi-rolls_3781NM.jpg');
    background-size: cover;
    color: white;
}
.card2 .card-front {
    background-image: url('https://cdn.tasteatlas.com/Images/Dishes/c952e302cc2b4f75804e895602319d92.jpg?m=facebook');
    background-size: cover;
    color: white;
}
.card3 .card-front {
    background-image: url('https://inquiringchef.com/wp-content/uploads/2023/02/Authentic-Pad-Thai-1908.jpg');
    background-size: cover;
    color: white;
}

.card4 .card-front {
    background-image: url('https://omnivorescookbook.com/wp-content/uploads/2018/12/230102_Hot-Pot-Guide_550.jpg');
    background-size: cover;
    color: white;
}

.card5 .card-front {
    background-image: url('https://atsloanestable.com/wp-content/uploads/2023/06/new-york-style-pizza2.jpg');
    background-size: cover;
    color: white;
}

.card6 .card-front {
    background-image: url('https://palestineinadish.com/wp-content/uploads/2023/07/Shawarma-sandwishes-wrapped-scaled.jpg');
    background-size: cover;
    color: white;
}



.card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.food-des {
    width: 80%; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #f8f8f8; 
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.food-des h2 {
    font-size: 24px;
    color: #333;
}

.food-des p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.food-ph {
    width: 300px;  
    height: 200px; 
    overflow: hidden; 
    float: left; 
        
}

.food-ph img {
    width: 100%;  
    height: 100%; 
    object-fit:cover; 
    display:block;
    margin-right:20px;
}

.more-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: Black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.more-link:hover {
    background-color: #cc5500;
}
