/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
body {
    height: 100vh;
}
.container {
    display: flex;
    width: 100%;
}
.left-section {
    width: 50%;
    background-color: white;
    padding: 50px;
	animation: slideInL 1.5s ease-out forwards;
}

@keyframes slideInL {
            from {
                transform: translateX(-100%); 
                opacity: 0;
            }
            to {
                transform: translateX(0); 
            }
        }

.right-section {
    width: 50%;
    height:520px;
    background-color:#e2b162;
    display: flex;
    align-items: center;
    justify-content: center;
	animation: slideInR 1.5s ease-out forwards;
}

@keyframes slideInR {
            from {
                transform: translateX(100%); 
               }
            to {
                transform: translateX(0); 
                opacity: 1;
            }
        }

h1 {
    font-size: 24px;
    font-weight: bold;
}
p {
    margin: 20px 0;
    line-height: 1.6;
}
.buttons {
    margin-top: 20px;
}
.btn {
    padding: 10px 20px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin-right: 10px;
    border-radius: 20px;
}
.btn:hover {
    background-color:white;
    color: black;
}

.img-full{
	width:100%;
	height:100%;
	object-fit:cover;
}
